
<nav id="myNavmenu" class="navmenu navmenu-default navmenu-fixed-right offcanvas" role="navigation">
    <a class="navmenu-brand" href="#">Brand</a>

    <ul class="nav navmenu-nav flex-column">
        <li class="nav-item active"><a class="nav-link" href="#">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
    </ul>
</nav>

<header class="navbar navbar-light navbar-bg-colour fixed-top">
    <div class="nav-wrapper">
        <button class="navbar-toggler" type="button" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body">
        <span class="navbar-toggler-icon">
            <i class="fas fa-bars" style="color:#fff; font-size:28px;"></i>
        </span>
        </button>
    </div>
</header>
