---
---

@import 'custom/bootstrap-override';
@import 'bootstrap/bootstrap';
@import 'custom/includes/navbar';
@import 'custom/includes/_social-btn';
@import 'custom/includes/gallery';
@import 'custom/includes/footer';
@import 'custom/includes/hero';
@import 'custom/helpers/global-classes';
@import 'custom/helpers/mixins';
@import 'custom/vendors/juice';

/*
 * Website Name - Website Name
 * Date - 9/5/18
 * Designed by Michael Owens / Dragon Info Tech
 */
//googlefont
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,700');

//circus begins
.about-bg-colour{
  background-color: #F4F4EE;
}

#about{
  @include media-breakpoint-up(lg){
    padding: 150px 0;
  }
}

.about{
  height:100%;
  width:100%;
  position: relative;

  &__media{

    //fix for mobile
    @include media-breakpoint-up(lg){
      position: absolute;
    }
    z-index: 10;
    padding: 75px 0;

    @media screen and (min-width: 1900px) {
      img{
        position: relative;

        left:250px !important;
      }

    }
    @include media-breakpoint-up(lg) {
      img {
        position: relative;
        left: 75px;
      }
    }

  }

  &__content{
    position: relative;


    @include media-breakpoint-up(lg){
      //fix for mobile
      @include centerer;
      width:60%;
    }

    z-index: 5;

    h1{
      color: #001565;
    }

    span{
      @include font-heavy(20px);
    }

    a{
      @include font-light(20px);
    }

    a:hover{
      text-decoration: none;
    }
  }

}

//working with experts
.experts{
  height:100%;
  position: relative;

  &__content{
    //@include centerer;
    position: relative;
    top:0;
    left:50%;
    transform: translateY(0%) translateX(-50%);
    color:#43283A;



    @include media-breakpoint-up(lg) {
      width:70%;
    }


    @include media-breakpoint-down(md) {
      position: relative;
    }
  }

  &__header{
    @include media-breakpoint-up(lg) {
      width:60%;
    }

    h2{
      text-align: left;

      @include media-breakpoint-down(lg) {
        @include font-heavy(24px);
      }
    }
  }

  &__body{
    p{
      font-size: rem-calc(20px);
    }
  }

  &__media{

    overflow: hidden;
    @include media-breakpoint-up(lg){
      a{
        height:1500px;
      }
    }

  }
}
.foo{
  padding:25px;
}
//for your well being
.being-bg-colour{
  background-color: #43283A;
}

.being{
  height:100%;
  position: relative;

  &__content{
    @include centerer;
    width:90%;
    position: relative;
    color:#fff;

    .being__media-bg{
      width:100%;
      height:100%;
      background-color: darken(#43283A, 5%);
      border-radius: 50%;


      img{
        width:80%;
        left:50%;
        transform: translateX(-50%);
        position: relative;
      }
    }
  }

  .being__content--reduce-width{
    @include media-breakpoint-up(lg){
      width:60%;
    }

    .being__header{
      h2{
        text-align: left;
      }
    }

    //@include media-breakpoint-up(lg){
    .buy-bottles{
      width:250px;
      height:500px;
      background-color: #fff;
      position: absolute;
      bottom:100px;
    }
    //}
  }
}

//were all over the shops
.shop-bg-image{
  background: url("{{site.url}}/assets/img/shop.png") center center no-repeat;
  background-size: cover;
  height:500px;

  @include media-breakpoint-up(lg){
    height:800px;
  }
}

.shop{

  &__content{
    @include centerer;
    color:#fff;
  }

  h2{

    @include media-breakpoint-up(lg){
      font-size: rem-calc(70px);

    }
  }
}


//gallery
.gallery-bg-colour{
  background-color: #e4e4dc;
}




.gallery{
  position: relative;
  height:100%;

  &__content{
    position: absolute;
    top:0;
    left:0;
    padding: 15px;
    width:80%;

  }

  .gallery__header{

    h2 {
      text-align: left;
      font-size: rem-calc(40px);
    }
  }
}
.gallery img{
  transform: scaleX(0);
  transform-origin: left;
  left:0;
  transition: all 0.5s;
}

.gallery:hover img{
  transform: scaleX(1);
  left:100%;
}

//tula
.tula{
  position: relative;
  height:100%;

  &__content{
    @include centerer;
    position: relative;

    h2{
      line-height: 0.6;
      font-size: rem-calc(60px);
    }

    .header-MICROPONES{
      font-size: rem-calc(24px);
    }

    img{
      max-width: 95%;
    }

    .tula__body{
      p{
        font-size: rem-calc(20px);
      }
    }

    &--left{
      left:0;
    }
  }

  .tula-buttons{
    position: absolute;
    bottom:0;

    .btn{
      border-radius: 100%;
      padding: 1rem;
      border: 1px solid black;
    }

    .tula-buttons-text{
      @include font-heavy(20px);
    }

    .tula-buttons-1{
      background-color: #eceae0;
    }

    .tula-buttons-2{
      background-color: #1e1e1e;
    }

    .tula-buttons-3{
      background-color: #cb554d;
    }
  }
}
//contact
.contact{
  position: relative;
  height:100%;

  &__content{
    @include centerer;
    width:90%;

    p{
      font-size: rem-calc(50px);
    }

    a{
      font-size: rem-calc(28px);

    }
  }
}

//.bar{
//  bottom:0;
//  width:100%;
//  height:5px;
//  background-color: red;
//  position: absolute;
//  z-index: 10;
//}
